   <div class="modal" id="modal_guardar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
               </button>
               <h4 class="modal-title" id="myModalLabel">Guardar ticket</h4>
            </div>
            <div class="modal-body">
               <div class="form-group col-md-6">
               <div class="form-group">
                  Total:
                  <input type="text" name="tpv_total" id="tpv_total" class="form-control" disabled="disabled"/>
               </div>
               <div class="form-group">
                  Efectivo:
                  <input type="text" name="tpv_efectivo" id="tpv_efectivo" class="form-control" onkeyup="recalcular()" autocomplete="off"/>
               </div>
               <div class="form-group">
                  Cambio:
                  <input type="text" name="tpv_cambio" id="tpv_cambio" class="form-control" disabled="disabled"/>
               </div>
                
               </div>
                 
               <div class="radio col-md-6">
               Guardar
               </div>
               {loop="$fsc->tipos_a_guardar()"}
               {if="$fsc->vienede==$value['tipo']"}

               <div class="radio col-md-6">
                  <label>
                     <input type="radio" name="tipo" value="guardar_{$value['tipo']}" checked="checked" />
                     Guardar {$value['tipo']}
                  </label>
               </div>
               {/if}
               {/loop}
               <div class="radio col-md-6">
               Generar documento nuevo
               </div>
               {loop="$fsc->tipos_a_guardar()"}
               <div class="radio col-md-6">
                  <label>
                     <input type="radio" name="tipo" value="{$value['tipo']}" />
                     {$value['nombre']}
                  </label>
               </div>
               {/loop}
               <div class="radio col-md-6">
               <div class="checkbox">
                <label>
                <input type="checkbox" value="borrardocumento">
                    Borrar documento anterior.
                </label>
               </div>
               </div> 
               <div class="form-group col-md-12">
                  <a href="{$fsc->forma_pago->url()}">Forma de pago</a>:
                  <select name="forma_pago" class="form-control">
                  {loop="$fsc->forma_pago->all()"}
                     {if="$value->is_default()"}
                     <option value="{$value->codpago}" selected="selected">{$value->descripcion}</option>
                     {else}
                     <option value="{$value->codpago}">{$value->descripcion}</option>
                     {/if}
                  {/loop}
                  </select>
               </div>
            </div>
            <div class="modal-footer">
               <div class="form-group col-md-12">
               <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled=true;$('#tpv_total').prop('disabled',false);this.form.submit();">
                  <span class="glyphicon glyphicon-floppy-disk"></span> &nbsp; Guardar
               </button>
               </div>
            </div>
         </div>
      </div>
   </div>