{include="header"}
<script type="text/javascript" src="plugins/tpvmod/view/js/tpvmod.js"></script>
<script type="text/javascript">
   fs_nf0 = {#FS_NF0#};
   numlineas = {function="count($fsc->documento->get_lineas())"};
   tpv_url = '{$fsc->url()}';
   cliente = {function="json_encode($fsc->cliente_s)"};
   all_impuestos = {function="json_encode($fsc->impuesto->all())"};
   all_series = {function="json_encode($fsc->serie->all())"};
   
   $(document).ready(function() {
      
      $("#numlineas").val(numlineas);
      usar_serie();
      recalcular();
      
      $("#ac_cliente").autocomplete({
         serviceUrl: tpv_url,
         paramName: 'buscar_cliente',
         onSelect: function (suggestion) {
            if(suggestion)
            {
               if(document.f_tpv.cliente.value != suggestion.data && suggestion.data != '')
               {
                  document.f_tpv.cliente.value = suggestion.data;
                  usar_cliente(suggestion.data);
               }
            }
         }
      });
   });
</script>

<script language=javascript type=text/javascript>

</script>

<div class="container-fluid" style="margin-top: 10px; margin-bottom: 10px;">
    <div class="row">
        <div class="btn-group col-sm-12">
            <a class="btn btn-sm btn-default" href="{$fsc->url()}" title="recargar la página">
               <span class="glyphicon glyphicon-refresh"></span>
            </a>
            {if="$fsc->page->show_on_menu"}
               {if="$fsc->page->is_default()"}
               <a class="btn btn-sm btn-default active" href="{$fsc->url()}&amp;default_page=FALSE" title="desmarcar como página de inicio">
                  <span class="glyphicon glyphicon-home"></span>
               </a>
               {else}
               <a class="btn btn-sm btn-default" href="{$fsc->url()}&amp;default_page=TRUE" title="marcar como página de inicio">
                  <span class="glyphicon glyphicon-home"></span>
               </a>
               {/if}
            {/if}
            <button type="button" id="b_tpv_guardar" class="btn btn-sm btn-primary">
               <span class="glyphicon glyphicon-floppy-disk"></span> 
            </button>
            <a class="btn btn-sm btn-default" href="./index.php?page=imprimir_presu_pedi&pedido=TRUE&id={$fsc->id_documento}" title="marcar como página de inicio">
                  <span class="glyphicon glyphicon-print"></span>
               </a>
            <a class="btn btn-sm btn-success" href="./index.php?page=tpvmod" title="Ir al tpv">
               <span class="glyphicon glyphicon-plus"></span>
            </a>
            
            <ol class="breadcrumb" style="margin-left: 195px;margin-bottom:5px;">
               <li><a href="{$fsc->url()}">TPVMOD</a></li>
               <li><a href="{$fsc->url()}" class="text-capitalize">{#FS_PEDIDOS#}</a></li>
               <li>
                  {loop="$fsc->serie->all()"}
                     {if="$value->codserie==$fsc->documento->codserie"}
                     <a href="{$fsc->url()}&codserie={$value->codserie}" class="text-capitalize">{$value->descripcion}</a>
                     {/if}
                  {/loop}
               </li>
               <li>
                  <a href="{$fsc->documento->cliente_url()}">{$fsc->documento->nombrecliente}</a>
               </li>
               {if="$fsc->cliente_s"}
                  {if="$fsc->cliente_s->nombre!=$fsc->documento->nombrecliente"}
                  <li>
                     <a href="#" onclick="alert('Cliente conocido como: {$fsc->cliente_s->nombre}')">
                        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                     </a>
                  </li>
                  {/if}
               {/if}
               <li class="active"><b>{$fsc->documento->codigo}</b></li>
            </ol>
            <p class="help-block">
               {if="$fsc->agente"}
               <span class="text-capitalize">{#FS_ALBARAN#}</span> creado por
               <a href="{$fsc->agente->url()}">{$fsc->agente->get_fullname()}</a>.
               {else}
               Sin datos de qué empleado ha creado este {#FS_ALBARAN#}.
               {/if}
            </p>
         </div>
      </div>
   <div class="row">
      
      
   </div>
</div>

<form id="f_tpv" name="f_tpv" action="{$fsc->url()}" method="post" class="form">
   <input type="hidden" name="petition_id" value="{$fsc->random_string()}"/>
   <input type="hidden" id="numlineas" name="numlineas" value="0"/>
   <input type="hidden" id="tpv_total2" name="tpv_total2" value="0"/>
   <input type="hidden" name="cliente" value="{$fsc->cliente_s->codcliente}"/>
   <input type="hidden" name="id" value="{$fsc->id_documento}"/>
   <div class="container-fluid">
      <div class="row">
         <div class="col-sm-6">
            <div class="form-group">
               Cliente:
               <div class="input-group">
                  <input class="form-control" type="text" name="ac_cliente" id="ac_cliente" value="{$fsc->cliente_s->nombre} Tlf:{$fsc->cliente_s->telefono1} Tlf2:{$fsc->cliente_s->telefono2}" placeholder="Buscar" autocomplete="off"/>
                  <span class="input-group-btn">
                     <button class="btn btn-default" type="button" onclick="document.f_tpv.ac_cliente.value=''; document.f_tpv.ac_cliente.focus();">
                        <span class="glyphicon glyphicon-edit"></span>
                     </button>
                  </span>
               </div>
               <p class="help-block">
                  <a href="{$fsc->cliente->url()}#nuevo" target="_blank">Nuevo cliente</a>.
               </p>
            </div>
         </div>
         <div class="col-sm-3">
            <div class="form-group">
               Fecha:
               <input class="form-control datepicker" type="text" name="fecha" value="{$fsc->today()}" autocomplete="off"/>
            </div>
         </div>
         <div class="col-sm-3">
            <div class="form-group">
               Atiende:
               <div class="form-control">
                  <a href="{$fsc->agente->url()}">{$fsc->agente->get_fullname()}</a>
               </div>
            </div>
         </div>
      </div>
   </div>
   
   <ul class="nav nav-tabs" role="tablist">
      <li class="active">
         <a href="#tab_lineas" role="tab" data-toggle="tab">
            <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
            <span class="hidden-xs">&nbsp; Líneas</span>
         </a>
      </li>
      <li>
         <a href="#tab_opciones" role="tab" data-toggle="tab">
            <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
            <span class="hidden-xs">&nbsp; Opciones</span>
         </a>
      </li>
      <li>
         <a href="#tab_tickets" role="tab" data-toggle="tab">
            <span class="glyphicon glyphicon-print"></span>
            <span class="hidden-xs">&nbsp; Tickets</span>
         </a>
      </li>
   </ul>
   
   <div class="tab-content">
      <div class="tab-pane active" id="tab_lineas">
         <div class="table-responsive">
            <table class="table table-condensed">
               <thead>
                  <tr>
                     <th class="text-left">Referencia</th>
                     <th class="text-left">Descripción</th>
                     <th class="text-right">Cantidad</th>
                     <th></th>
                     <th class="text-right">PVP</th>
                     <th class="text-right">Neto</th>
                     <th class="text-right">{#FS_IVA#} %</th>
                     <th class="text-right">Total</th>
                  </tr>
               </thead>
               <tbody id="lineas_albaran">

                  {loop="$fsc->documento->get_lineas()"}
                     <tr id="linea_{$counter+1}">
                        <td>
                           <input type="hidden" name="idlinea_{$counter+1}" value="{$value->idlinea}"/>
                           <input type="hidden" name="referencia_{$counter+1}" value="{$value->referencia}"/>
                           <input type="hidden" id="iva_1" name="iva_{$counter+1}" value="21">
                           <input type="hidden" id="recargo_1" name="recargo_{$counter+1}" value="0">
                           <input type="hidden" id="irpf_1" name="irpf_{$counter+1}" value="0">
                           <div class="form-control">
                              <a target="_blank" href="{$value->articulo_url()}">{$value->referencia}</a>
                           </div>
                        </td>
                        <td><textarea class="form-control" name="desc_{$counter+1}" rows="1" onclick="this.select()">{$value->descripcion}</textarea></td>
                        <td>
                           <input type="number" step="any" id="cantidad_{$counter+1}" class="form-control text-right" name="cantidad_{$counter+1}"
                                  value="{$value->cantidad}" onchange="recalcular()" onkeyup="recalcular()" autocomplete="off" value="1"/>
                        </td>
                        <td>
                           <button class="btn btn-sm btn-danger" type="button" onclick="$('#linea_{$counter+1}').remove();recalcular();">
                              <span class="glyphicon glyphicon-trash"></span>
                           </button>
                        </td>
                        <td>
                           <input type="text" class="form-control text-right" id="pvp_{$counter+1}" name="pvp_{$counter+1}" value="{$value->pvpunitario}"
                                  onkeyup="recalcular()" onclick="this.select()" autocomplete="off"/>
                        </td>
                        <td>
                           <input type="text" class="form-control text-right" id="neto_{$counter+1}" name="neto_{$counter+1}" readonly="">
                        </td>
                        <td>
                           <select class="form-control" id="iva_{$counter+1}" name="iva_{$counter+1}" onchange="ajustar_iva('{$counter+1}')">
                           {loop="$fsc->impuesto->all()"}
                              {if="$value1->codimpuesto==$value2->codimpuesto OR $value1->iva==$value2->iva"}
                              <option value="{$value2->iva}" selected="">{$value2->descripcion}</option>
                              {else}
                              <option value="{$value2->iva}">{$value2->descripcion}</option>
                              {/if}
                           {/loop}
                           </select>
                        </td>
                        <td><input type="text" class="form-control text-right" id="total_{$counter+1}" name="total_{$counter+1}" onchange="ajustar_total()" onclick="this.select()" autocomplete="off"></td>
                     </tr>
                     {/loop}
                  <tr class="bg-info">
                     <td><input id="i_new_line" class="form-control" type="text" placeholder="Buscar para añadir..." autocomplete="off"/></td>
                     <td>
                           <a href="#" class="btn btn-sm btn-default" title="Añadir sin buscar" onclick="return add_linea_libre()">
                              <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                           </a>
                     </td>
                     <td colspan="3" class="text-right">Totales:</td>
                     <td><div id="aneto" class="form-control text-right" style="font-weight: bold;">{$fsc->show_numero(0)}</div></td>
                     <td><div id="aiva" class="form-control text-right" style="font-weight: bold;">{$fsc->show_numero(0)}</div></td>
                     <td><div id="atotal" class="form-control text-right" style="font-weight: bold;">{$fsc->show_numero(0)}</div></td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
      <div class="tab-pane" id="tab_opciones">
         {if="$fsc->terminal"}
         <input type="hidden" name="almacen" value="{$fsc->terminal->codalmacen}"/>
         <input type="hidden" name="serie" value="{$fsc->terminal->codserie}"/>
         {/if}
         <div class="container-fluid" style="margin-top: 10px; margin-bottom: 20px;">
            <div class="row">
               {if="!$fsc->terminal"}
               <div class="col-sm-3">
                  <div class="form-group">
                     <a href="{$fsc->almacen->url()}">Almacén</a>:
                     <select name="almacen" class="form-control">
                        {loop="$fsc->almacen->all()"}
                           {if="$value->is_default()"}
                           <option value="{$value->codalmacen}" selected='selected'>{$value->nombre}</option>
                           {else}
                           <option value="{$value->codalmacen}">{$value->nombre}</option>
                           {/if}
                        {/loop}
                     </select>
                  </div>
               </div>
               <div class="col-sm-3">
                  <div class="form-group">
                     <a href="{$fsc->serie->url()}">Serie</a>:
                     <select name="serie" class="form-control" id="codserie" onchange="usar_serie();recalcular();">
                        {loop="$fsc->serie->all()"}
                           {if="$value->is_default()"}
                           <option value="{$value->codserie}" selected='selected'>{$value->descripcion}</option>
                           {else}
                           <option value="{$value->codserie}">{$value->descripcion}</option>
                           {/if}
                        {/loop}
                     </select>
                  </div>
               </div>
               {/if}
               <div class="col-sm-3">
                  <div class="form-group">
                     <a href="{$fsc->divisa->url()}">Divisa</a>:
                     <select name="divisa" class="form-control">
                        {loop="$fsc->divisa->all()"}
                           {if="$value->is_default()"}
                           <option value="{$value->coddivisa}" selected="selected">{$value->descripcion}</option>
                           {else}
                           <option value="{$value->coddivisa}">{$value->descripcion}</option>
                           {/if}
                        {/loop}
                     </select>
                  </div>
               </div>
               <div class="col-sm-3">
                  <div class="form-group">
                     Número 2:
                     <input class="form-control" type="text" name="numero2" autocomplete="off"/>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="tab-pane" id="tab_tickets">
         <div class="container-fluid" style="margin-top: 10px; margin-bottom: 20px;">
            <div class="row">
               <div class="col-sm-2">
                  <div class="form-group">
                     Nº de tickets:
                     <input class="form-control" type="number" name="num_tickets" value="1"/>
                  </div>
               </div>
               <div class="col-sm-4">
                  <div class="checkbox">
                     <label>
                        <input type="checkbox" name="imprimir_desc" value="TRUE"{if="$fsc->imprimir_descripciones"} checked="checked"{/if}/>
                        Imprimir descripciones
                     </label>
                  </div>
                  <div class="checkbox">
                     <label>
                        <input type="checkbox" name="imprimir_obs" value="TRUE"{if="$fsc->imprimir_observaciones"} checked="checked"{/if}/>
                        Imprimir observaciones
                     </label>
                  </div>
               </div>
               <div class="col-sm-6">
                  <p>
                     <b>Recuerda</b> que para poder imprimir tickets necesitas estar ejecutando la aplicación Remote printer.
                  </p>
                  <a target="_blank" href="//www.facturascripts.com/comm3/index.php?page=community_item&id=170" class="btn btn-sm btn-default">
                     <span class="glyphicon glyphicon-download"></span> &nbsp; Remote printer
                  </a>
               </div>
            </div>
         </div>
      </div>
   </div>
   
   <div class="container-fluid">
      <div class="row" style="margin-bottom: 30px;">
      </div>
      <div class="row">
         <div class="col-xs-12">
            <div class="form-group">
               Observaciones:
               <textarea class="form-control" name="observaciones" rows="4"></textarea>
            </div>
         </div>
      </div>
   </div>
   <input type="hidden" name="vienede" value="pedido">
{include="parts/modalguardar"}
</form>

<div class="modal" id="modal_articulos">
   <div class="modal-dialog" style="width: 99%; max-width: 950px;">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Buscar artículos</h4>
         </div>
         <div class="modal-body">
            <form id="f_buscar_articulos" name="f_buscar_articulos" action="{$fsc->url()}" method="post" class="form">
               <input type="hidden" name="codcliente"/>
               <div class="container-fluid">
                  <div class="row">
                     <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="input-group">
                           <input class="form-control" type="text" name="query" autocomplete="off"/>
                           <span class="input-group-btn">
                              <button class="btn btn-primary" type="submit">
                                 <span class="glyphicon glyphicon-search"></span>
                              </button>
                           </span>
                        </div>
                        <label>
                           <input type="checkbox" name="con_stock" value="TRUE" onchange="buscar_articulos()"/>
                           sólo con stock
                        </label>
                        <label>
                           <input type="checkbox" name="con_stock" value="TRUE" onchange="buscar_articulos()"/>
                           sólo con stock virtual
                        </label>
                     </div>
                     <div class="col-lg-6 col-md-6 col-sm-6">
                        <select class="form-control" name="codfamilia" onchange="buscar_articulos()">
                           <option value="">Todas las familias</option>
                           <option value="">------</option>
                           {loop="$fsc->familia->all()"}
                           <option value="{$value->codfamilia}">{$value->descripcion}</option>
                           {/loop}
                        </select>
                     </div>
                  </div>
               </div>
            </form>
         </div>
         <div id="search_results"></div>
      </div>
   </div>
</div>
{include="footer"}