{include="header"}

{if="$fsc->agente"}
   {if="$fsc->caja"}
      {if="$fsc->caja->codagente!=$fsc->user->codagente"}
      <div class="thumbnail">
         <img src='view/img/big_lock.png' alt="acceso denegado"/>
      </div>
      {elseif="!$fsc->cliente_s"}
      <div class="alert alert-danger">No hay clientes. Debes añadir al menos uno.</div>
      <div class="thumbnail">
         <img src='view/img/fuuu_face.png' alt="acceso denegado"/>
      </div>
      {else}
         {include="tpvmod2"}
      {/if}
   {elseif="$fsc->terminal"}
   <script type="text/javascript">
      $(document).ready(function() {
         document.f_caja.d_inicial.select();
      });
   </script>
   <form name="f_caja" action="{$fsc->url()}" method="post" class="form">
      <input type="hidden" name="terminal" value="{$fsc->terminal->id}"/>
      <div class="container">
         <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
               <div class="page-header">
                  <h1>Terminal {$fsc->terminal->id}</h1>
               </div>
               <div class="well">
                  <h2>¿Cuanto dinero hay en la caja?</h2>
                  <div class="form-group">
                     <input class="form-control" type="text" name="d_inicial" value="0.00" autocomplete="off"/>
                  </div>
                  <div class="text-right">
                     <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled=true;this.form.submit();">
                        <span class="glyphicon glyphicon-floppy-disk"></span> &nbsp; Guardar
                     </button>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </form>
   {else}
   <div class="container">
      <div class="row">
         <div class="col-sm-12">
            <div class="page-header">
               <h1>Elige un terminal para empezar</h1>
            </div>
         </div>
      </div>
      <div class="row">
         {loop="$fsc->results"}
         <div class="col-sm-6">
            <a href="{$fsc->url()}&terminal={$value->id}" class="btn btn-block btn-default">
               <span class="glyphicon glyphicon-print" aria-hidden="true"></span> &nbsp; Terminal {$value->id}
            </a>
         </div>
         {else}
         <div class="col-sm-12">
            <a href="index.php?page=tpv_caja#terminales" class="btn btn-block btn-info">
               <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> &nbsp; Administrar terminales
            </a>
         </div>
         {/loop}
      </div>
   </div>
   {/if}
{else}
<div class="thumbnail">
   <img src='view/img/big_lock.png' alt="Acceso denegado"/>
</div>
{/if}

{if="$fsc->terminal"}
<div class="hidden">
   <iframe src="http://localhost:10080?terminal={$fsc->terminal->id}" height="0"></iframe>
</div>
{/if}

{include="footer"}